


body {
    background-color: #009FB7 ;
    align-items: center;
    display: flex;
    flex-direction: column;   
}

h1 {
    font: 'Nabla';
    font-family: 'Nabla', 'cursive';
    size: 20rem;    
}

.title {
    border: 2px solid black;
    border-radius: 1rem;
    width: 30rem;
    text-align: center;
    backdrop-filter: blur(10px);
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;  
}

.centerImage {    
    height: 50rem;
    width: auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;    
}

#weatherImage {
    border: 15px solid #F1FAEE;
    border-radius: 2rem;
    height: 100%;
    width: 99%;
    margin-bottom: 5rem;
}

.buttonContainer {       
    align-items: center;
}

#rainbowBtn {
    align-items: bottom;
    border-radius: 20%;
    height: 4rem;
    width: 4rem;     
    margin-top: 5rem;      
    bottom: 3%;
    left: 5%;
    transform: scaleX(-1);            
}

#rainbowBtn:hover {    
    border: solid 3px #E3B505;  
    cursor: pointer; 
    background: linear-gradient(to right, #14ffe9, #ffeb3b, #ff00e0);
    animation: animate 1.5s linear infinite;
}



#buttonContainer {
    display: block;
    align-items: center;
    align-content: center;
    display: table-cell;
    vertical-align: bottom;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

